
.profile-pic {
  float: right;
  border: 5px solid #fff;
}

div {
    border-radius: 5px
}

#Header {
    height: 40px
    width: 20px
    background color: red
    position: fixed;
    z-index: 1;
    
}

.left { 
    height: 20px;
    width: 10px;
    background color: blue;
    float: left;
    
}

.right {
    height: 20px; 
    width: 10px;
    background color: blue;
    float: right;
}

#Footer {
    height: 40px;
    width: 20px;
    background color: red;
    clear: both;
    
}
